fastapi==0.116.1
uvicorn[standard]
sqlalchemy>=2.0.23
psycopg2-binary
asyncpg
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
alembic
python-multipart==0.0.20
python-jose[cryptography]
fastapi-users[sqlalchemy]==14.0.1
pwdlib[bcrypt]>=0.2.1
bcrypt>=4.1.2
email-validator
requests>=2.31.0
fastmcp==2.11.3